@font-face { font-family: Discord-Bold; src: url('GintoNord-Black.otf'); }
@font-face { font-family: Discord-Normal; src: url('GintoNord-Medium.otf'); }
@font-face { font-family: Discord-Text; src: url('whitney-light.otf'); }

html {
/*    make the website responsive*/
    width: 100%;
    height: 100%;
}

.demos {
    border: 1px solid white;
    border-radius: 15px;
    background-color: #F6F6F6;
    padding: 10px;
    width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


.btn-black {
    width: 200px;
    height: 50px;
    background-color: #23272a;
    color: white;
    font-family: Discord-Normal, serif;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 20px;

}

.btn-black:hover {
    background-color: #36393F;
    color: white;
    box-shadow: 0px 0px 5px #36393F;
    transition: ease-in-out 0.1s;
}

.btn-blurple {
    width: 200px;
    height: 50px;
    background-color: #5865f2;
    color: white;
    font-family: Discord-Normal, serif;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 20px;

}

.btn-blurple:hover {
    background-color: #7983F5;
    color: white;
    box-shadow: 0px 0px 5px #36393F;
    transition: ease-in-out 0.1s;
}

.btn-white {
    width: 200px;
    height: 50px;
    background-color: #FFFFFF;
    color: #23272a;
    font-family: Discord-Normal, serif;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 20px;

}

.btn-white:hover {
    background-color: #FFFFFF;
    color: #23272a;
    box-shadow: 0px 0px 5px #23272a;
    transition: ease-in-out 0.1s;
}

.button {
    width: 200px;
    height: 50px;
    background-color: #23272a;
    color: white;
    font-family: Discord-Normal, serif;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 20px;

}

.button:hover {
    background-color: #36393F;
    color: white;
    box-shadow: 0px 0px 5px #36393F;
    transition: ease-in-out 0.1s;
}

a {
    text-decoration: none;
    font-family: Discord-Text, serif;
    padding-right: 20px;
}

a:hover {
    text-decoration:underline;
    font-family: Discord-Text, serif;
}

hr {
/*    make it so width as the text*/
    width: 70%;
    height: 1px;
    background-color: #5865f2;
    border: none;
}


h1 {
    font-family: Discord-Bold, serif;
    color: #23272A;
}

h2 {
    font-family: Discord-Medium, serif;
    color: #23272A;
}

h3 {
    font-family: Discord-Medium, serif;
    color: #23272A;
}

h4 {
    font-family: Discord-Medium, serif;
    color: #23272A;
}


.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.font-medium {
    font-family: Discord-Normal, serif;
}

.font-bold {
    font-family: Discord-Bold, serif;
}

.font-text {
    font-family: Discord-Text, serif;
}




/* See Discord Branding Guide for more information
https://discord.com/branding
*/


.color-blurple {
    color: #5865F2;
}

.color-green {
    color: #57F287;
}

.color-yellow {
    color: #FEE75C;
}

.color-fuchsia {
    color: #EB459E;
}

.color-red {
    color: #ED4245;
}

.color-white {
    color: #FFFFFF;
}

.color-black {
    color: #000000;
}

